<h1>Three (or N-) Cups Problem</h1>
<ul>
    <li>There's some amount (N, traditionally 3) of cups that can be up or down.</li>
    <li>Every move, (M, traditionally 2) cups must be flipped (no more or less).</li>
    <li>The goal is to get all cups to be up-facing.</li>
    <li>Some configurations of this problem are solvable, and some aren't.</li>
    <li>It may seem evident that it's unsolvable when the amount of down cups is not divisible by the move count, but a proof that this is incorrect can be seen here for N=8 and M=4:<ol>
        <li><code>DUDDDDDU</code> (initial state)</li>
        <li><code>UUUUDDUU</code> (cups 1, 3, 4, 7 flipped)</li>
        <li><code>UDDDUDUU</code> (cups 2, 3, 4, 5 flipped)</li>
        <li><code>UUUUUUUU</code> (cups 2, 3, 4, 6 flipped)</li>
    </ol></li>
    <li>It is, however, not particularly important to actually track individual cups, which helps in understanding the problem, as the actual ordering of the cups has no meaning.</li>
</ul>