<h1>Eight (or N)-Queens Problem</h1>
<ul>
    <li>Given a chessboard of size NxN, fit N queens onto it such that no queen may attack another queen within a single turn, assuming they were all somehow on separate teams.</li>
    <li>Effectively, no two queens may be on the same row, column, or diagonal as another queen.</li>
    <li>The implementation here uses what's mostly a brute-force search over permutations, with early termination before diagonals.</li>
    <li>Therefore, it's been limited to 32x32 boards (which will still take a while).</li>
</ul>