<h1>Sudoku</h1>
<ul>
    <li>
        Sudoku is a traditional puzzle where digits are filled in on 9x9 sheets-of-cells, where some digits have already been filled in (which constrains the solutions).
    </li>
    <li>
        Theoretically, it may be played on any sheet-of-cells for which the following applies:
        <ul>
            <li>
                The geometry/layout of the cells is square - i.e. direct neighbours are in cardinal directions.
            </li>
            <li>
                The size of the sheet in cells is square - i.e. the width is equal to the height.
            </li>
            <li>
                The size of the sheet in cells, N is equal to a number B multiplied by itself.<br/>
                For regular Sudoku, N is 9, and B is 3.<br/>
            </li>
        </ul>
    </li>
    <li>However, due to much in the way of issues implementing generalized logic solving on my part, this solver is limited to 9x9 boards.</li>
    <li>The Sudoku sheet is split into a BxB (3x3) sheet of BxB (3x3) sheets of digits from 1 to N (9).</li>
    <li>Hence the total sheet is NxN (9x9).</li>
    <li>Each row, each column, and each block, must contain every one of the N digits.</li>
    <li>As all of these only have N cells in each, they cannot contain duplicates without missing a digit.</li>
</ul>
