<center>
    <!--
    Allows for much more efficient testing of this UI on a computer,
    rather than in a slow emulator or having to wait for Gradle
    -->
    <style>
        button {
            font-family: monospace;
            background: lightblue;
            color: black;
            padding: 6pt;
        }
        .active {
            background: black;
            color: white;
        }
    </style>
    <script>
        // <![CDATA[
        var text = "<table border=\"1\">";
        var index = 0;
        for (var i = 0; i < 9; i++) {
            text += "<tr>";
            for (var j = 0; j < 9; j++) {
                text += "<td><button id=\"c" + (index++) + "\">_</button></td>";
            }
            text += "</tr>";
        }
        text += "</table>";
        document.write(text);
        // ]]>
    </script>
    <p></p>
    <hr/>
    <p></p>
    <table border="1">
        <tr>
            <td>
                <button id="d0">_</button>
            </td>
            <td>
                <button id="d1">1</button>
            </td>
            <td>
                <button id="d2">2</button>
            </td>
            <td>
                <button id="d3">3</button>
            </td>
            <td>
                <button id="d4">4</button>
            </td>
            <td>
                <button id="d5">5</button>
            </td>
            <td>
                <button id="d6">6</button>
            </td>
            <td>
                <button id="d7">7</button>
            </td>
            <td>
                <button id="d8">8</button>
            </td>
            <td>
                <button id="d9">9</button>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                <button id="clear">Clear</button>
            </td>
        </tr>
    </table>
    <script>
        var map = "_123456789";
        var buttons = [];
        var digis = [];
        var data = [];
        var currentButtonIndex = 0;
        function activityControl(cn) {
            digis[data[currentButtonIndex]].className = cn;
            buttons[currentButtonIndex].className = cn;
            buttons[currentButtonIndex].innerText = map[data[currentButtonIndex]];
        }
        for (var i = 0; i < 9 * 9; i++) {
            var button = document.getElementById("c" + i);
            (function () {
                var index = i;
                button.onclick = function () {
                    activityControl("");
                    currentButtonIndex = index;
                    activityControl("active");
                };
            })();
            buttons.push(button);
            var value = 0;
            // integration: load initial state
            if (window.Towertop) {
                value = window.Towertop.getCell(i);
            }
            data.push(value);
            button.innerText = map[value];
        }
        for (var i = 0; i < 10; i++) {
            var button = document.getElementById("d" + i);
            (function () {
                var index = i;
                button.onclick = function () {
                    activityControl("");
                    data[currentButtonIndex] = index;
                    activityControl("active");
                    // integration: writeback
                    if (window.Towertop) {
                        window.Towertop.setCell(currentButtonIndex, index);
                    }
                };
            })();
            digis.push(button);
        }
        document.getElementById("clear").onclick = function () {
            activityControl("");
            for (var i = 0; i < 9 * 9; i++) {
                data[i] = 0;
                buttons[i].innerText = map[0];
                // integration: writeback
                if (window.Towertop) {
                    window.Towertop.setCell(i, 0);
                }
            }
            activityControl("active");
        };
        activityControl("active");
    </script>
</center>
